// Matugen Generated palette from $HOME/.local/share/hanauta/wallpapers/end4/001-default_wallpaper.png
$darkbg: #141218;
$bg: #161217;
$contrastbg: #4c444d;
$bgSecondary: #161217;
$bgSecondaryAlt: #4c444d;
$fg: #e9e0e7;
$fgDim: #978e97;

// Font families
$font-icon: "Material Symbols Rounded";

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #161519;
$dimblack: #1C1B1F;
$lightblack: #4c444d;
$red: #FFB4AB;
$blue: #A8C7FA;
$cyan: #94F0F0;
$blue-desaturated: #e5b7f2;
$magenta: #e5b7f2;
$purple: #e5b7f2;
$green: #C4EDD7;
$aquamarine: #94F0F0;
$yellow: #FFB784;
$accent: #e5b7f2;
$javacafeMagenta: #e5b7f2;
$javacafeBlue: #A8C7FA;
$putih: #FFFFFF;
$orange: #FFB784;
$kuning: #FFB784;
$bluegray: #978e97;
$mussic: #4c444d;
