// Matugen Generated palette from /home/gabi/.wallpapers/tokyo-night25.png
$darkbg: #141218;
$bg: #121318;
$contrastbg: #46464f;
$bgSecondary: #121318;
$bgSecondaryAlt: #46464f;
$fg: #e3e1e9;
$fgDim: #90909a;

// Font families
$font-icon: "Material Symbols Rounded";

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #161519;
$dimblack: #1C1B1F;
$lightblack: #46464f;
$red: #FFB4AB;
$blue: #A8C7FA;
$cyan: #94F0F0;
$blue-desaturated: #b9c3ff;
$magenta: #b9c3ff;
$purple: #b9c3ff;
$green: #C4EDD7;
$aquamarine: #94F0F0;
$yellow: #FFB784;
$accent: #b9c3ff;
$javacafeMagenta: #b9c3ff;
$javacafeBlue: #A8C7FA;
$putih: #FFFFFF;
$orange: #FFB784;
$kuning: #FFB784;
$bluegray: #90909a;
$mussic: #46464f;
