// Matugen Generated palette from /home/gabi/.wallpapers/dawn.png
$darkbg: #141218;
$bg: #19120d;
$contrastbg: #52443c;
$bgSecondary: #19120d;
$bgSecondaryAlt: #52443c;
$fg: #f0dfd7;
$fgDim: #9f8d83;

// Font families
$font-icon: "Material Symbols Rounded";

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #161519;
$dimblack: #1C1B1F;
$lightblack: #52443c;
$red: #FFB4AB;
$blue: #A8C7FA;
$cyan: #94F0F0;
$blue-desaturated: #ffb689;
$magenta: #ffb689;
$purple: #ffb689;
$green: #C4EDD7;
$aquamarine: #94F0F0;
$yellow: #FFB784;
$accent: #ffb689;
$javacafeMagenta: #ffb689;
$javacafeBlue: #A8C7FA;
$putih: #FFFFFF;
$orange: #FFB784;
$kuning: #FFB784;
$bluegray: #9f8d83;
$mussic: #52443c;
